{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class="main">
  <div class="main-content">
    <h1 class="title title-center">Створити</h1>
    <ul class="choose">
      <a href="/spotify-create">
        <li class="choose-item">
          <img src="/svg/choose-1.svg" class="chosse-img">
          <div class="chosse-content">
            <strong class="title">Плейліст</strong>
            <p class="choose-text">Створить плейліст із піснями чи епізодами</p>
          </div>
        </li>
      </a>
      <a href="spotify-create?isMix=true">
        <li class="choose-item">
          <img src="/svg/choose-2.svg" class="chosse-img">
          <div class="chosse-content">
            <strong class="title">Мікст</strong>
            <p class="choose-text">Комбінуйте смаки в спільному плейлісті з друзями</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>


{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}