@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;

.main{
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10) ;
    height: 1500px;
    width: 1000px;
}


.product-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: s.space(5);
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: s.space(4);
    align-items: flex-start;

}

.product-info-image{
    max-height: 300px;
    width: 100%;
}

.product-info-title{
    font-size: 18px;
    font-weight: bold;
}

.product-info-description{
    font-size: 12px;
    color: s.color('light'); 
}

.product-info-caterory{
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 14px;
   
    border: 1px solid transparent;
  
}

.product-info-caterory--1{
    border-color: blue;
    color: blue;
}
 
.product-info-caterory--2{
    border-color: green;
    color: green;
}

.product-info-button{
    background-color: s.color('primary');
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;

    &:hover{
        opacity: 0.7;
    }
}