@use '../../lib/service.scss' as s;

.form{
    display: flex;
    flex-direction: column;
    padding: s.space(1);
    gap: s.space(8);

    .form_title{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: s.space(2);
        color:s.color('primary') ;
        
    }
    .form_content{
        display: flex;
        flex-direction: column;
        gap: s.space(4);
    }
    .form_field{
        display: flex;
        flex-direction: column;
        gap: s.space(1);
    }

    .form_label {
        font-size: 14px;
    }

    .form_input {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 5px;
    }
    .form_field_description{
        display: flex;
        flex-direction: column;
        margin: s.space(3);
    }
    .form_button{
        margin: s.space(3)
    }
}
.card{
    display: flex;
    flex-direction: column;
    margin: s.space(2);

    .card-title{
        font-size: 18px;
        font-weight: bold;
        margin: s.space(3);    
        
    }
    .card-body{
        display: flex;
        flex-direction: row;
        gap: s.space(2)
    }
}

main{
    margin:s.space(4) ;
}

